.idea/
tmp/
**/__pycache__/
**.egg-info/
**venv**/
**vscode**/
site/

Test**/
.pytest_*/
.envrc
.coverage
poetry.lock
typings/
.config/

# Added rule to ignore folders called personal allowing to put WIP and other test files inside of those
**/*personal/