# Azure connection requirements
azure-identity
azure-mgmt-subscription
azure-mgmt-kusto
msrest

# Click requirements
click
click-log

# Cosmotech specific requirements
cosmotech-api
Cosmotech-Acceleration-Library

# Other requirements
pyyaml

# Testing requirements
pytest

# Documentation generation requirements
mkdocs
mkdocs-click
mkdocs-gen-files
mkdocs-material
mkdocstrings[python]
mike
pymdown-extensions
requirements-parser