# Azure connection requirements
azure-identity
azure-mgmt-subscription
azure-mgmt-kusto
msrest

# Click requirements
click
click-log

# Cosmotech specific requirements
cosmotech-api
Cosmotech-Acceleration-Library

# Other requirements
pyyaml