# Azure connection requirements
azure-identity
azure-mgmt-subscription
azure-mgmt-kusto
msrest

# Azure services requirements
azure-digitaltwins-core
azure-containerregistry
azure-storage-blob
azure-mgmt-storage
azure-mgmt-digitaltwins
azure-mgmt-resource
azure-mgmt-authorization
azure-mgmt-eventhub

# Vault Hashicorp client
hvac

# ABBA requiremetns
pandas
plotly

# Click requirements
click
click-log

# Other requirements
cryptography
pyyaml
docker
jmespath
terrasnek
rich
GitPython
Mako
polling2
inquirer
flatten_json
dynaconf

# Testing requirements
pytest
ruamel.yaml
mock

# Documentation generation requirements
mkdocs
mkdocs-click
mkdocs-gen-files
mkdocs-material
mkdocstrings[python]
mike
pymdown-extensions
requirements-parser
