name: Continuous Integration

env:
  STORAGE_NAME: ${{ secrets.STORAGE_NAME }}
  ACCOUNT_SECRET: ${{ secrets.ACCOUNT_SECRET }}

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

permissions:
  id-token: write
  contents: read
jobs:
  code-quality:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
      - run: ruff check --output-format=github
      - run: ruff format
  unit-tests:
    needs: code-quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Run unit tests
        run: |
          uv run --group dev pytest
  integration-and-end2end-tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    defaults:
      run:
        shell: bash

    needs: unit-tests
    runs-on: ${{ matrix.os }}
    env:
      PYTHONUTF8: 1
      PYTHONIOENCODING: utf-8
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - uses: azure/aks-set-context@v4
        with:
          cluster-name: "${{ vars.CLUSTER_NAME }}"
          resource-group: "${{ vars.CLUSTER_RESOURCE_GROUP }}"

      - name: Install
        run: |
          uv venv
          uv pip install .
        shell: bash
      - name: Run integration tests
        working-directory: tests/integration/
        run: ./test_api_endpoints.sh
        shell: bash
      - name: End-to-end tests
        working-directory: tests/e2e/
        run: ./test_e2e.sh
        shell: bash