name: Track Dependencies
permissions:
  contents: read

on:
  push:
    branches:
      - main
      
jobs:
  generate-sbom:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - run: uv export --format=cyclonedx1.5 --output-file=sbom.json -q
      - name: Upload cyclonedx bom to dependency
        uses: DependencyTrack/gh-upload-sbom@v3
        with:
          serverhostname: ${{ secrets.DEPENDENCY_TRACK_SERVER_HOSTNAME }}
          apikey: ${{ secrets.DEPENDENCY_TRACK_API_KEY }}
          project: 'b79e84bb-f445-4b32-a56c-5c82c0064aff'
          bomfilename: 'sbom.json'
    
